/* regole generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

/* Regole singoli elementi */

#big_button {

    font-size: 45px;
}


#border_green{
    border-left: 2px solid greenyellow;
    
}
.white_strong{
    color: white;
    text-decoration: none;
}

h2 {
    color: white;
    
    /* margin-left:15px; */
}

#grey{
    color: grey;
}

h4 {
    color: white;
}

.playlist_single p {
    color: rgb(121, 121, 121);
    
}

.grey_color{

    color: grey;
    margin-top: 15px;
    text-decoration: none;
    
}

#green_line{

    text-decoration: underline 2px rgb(134, 190, 3);
}


.rounded_image {

    border-radius: 50%
}

.margin_box {
    margin: 22px;
}
/* macro blocco principale */
#spotify_box {
    display: flex;
    height: calc(100vh - 150px);
    /* DEBUG */
    background-color: rgb(99, 52, 52);
    
}


@media screen and (max-width: 878px) {
    
    .playlist_box{
        flex-wrap: wrap;
        
    }

    .playlist_single{

        min-width: 20%;
    }

    .music_categories{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 639px) {

    .playlist_box{
        flex-wrap: wrap;
        
    }

    .playlist_single{

        min-width: 30%;
    }
    
    .music_categories{
        flex-wrap: wrap;
    }
}


/*****************BLOCCO NAVIGAZIONE PRINCIPALE **********************/




#spotify_box nav {
    height: 100%;
    width: 200px;
    /* DEBUG */
    background-color: rgb(0, 0, 0);
    /* padding-left: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-left: 20px; */
    
}

.nav_container1{

    /* background-color: blue; */
    width: 100%;
    max-height: 60%;
    /* max-height: 100%; */
    /* border: 2px red solid; */
    overflow: hidden;
    /* overflow: auto; */
    padding-left: 20px;

}

.nav_container1 li a:hover{
    color: white;
}

.nav_container2{

    /* background-color: blue; */
    width: 100%;
    /* max-height: 30%; */
    /* max-height: 100%; */
    /* border: 2px red solid; */
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    
    padding-left: 20px;
    
}

.nav_container2 ul li{
    list-style: none;
    color: gray;

}

.nav_container2 ul li:hover{
    color: white;
}

#spotify_box nav img {

    /* height: 170px; */
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

nav ul li {

    margin-bottom: 20px;
}

/*****************BLOCCO CONTENUTO PRINCIPALE****************/
#spotify_box main {
    overflow: auto;
    height: 100%;
    width: calc(100% - 200px);
    /* DEBUG */
    background-color: rgba(20,25,34,255);
    
}

/* Box upgrade */
.upgrade_box a:hover {

    transform: scale(1.1);
}
.upgrade_box {

    background-color: rgba(0, 3, 3, 0.743);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 0;
    
}

.upgrade_box a {

    /* background-color: brown; */
    /* width: 200px; */
    border: 1px solid white;
    padding: 8px 30px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

/* CATEGORIE MUSICALI */

.music_categories {

    width: 100%;
    /* height: 80px; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    
    
}

.music_categories a {

    color: rgb(173, 170, 170);
    text-decoration: none;
}

.music_categories a:hover {
    color: white;
}
/************ PLAYLIST E MUSICA BOX ************/

.playlist_box {

    width: 100%;
    /* height: 500px; */
    /* background-color: rgb(210, 15, 15); */
    margin-top: 20px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    

    
    
}

.playlist_single{

    width: 15%;
    /* background-color: blanchedalmond; */
    text-align: center;


}

.playlist_single img {

    width: 100%;
    max-height: 100%;
}

/******************** PLAYER MUSICALE *********************/


/************** PARTE SINISTRA PLAYER MUSICALE *******************/
#music_player {
    height: 150px;
    background-color: rgba(40,40,40,255);
    display: flex;
    justify-content: space-between;
}

.music_player_small_boxes {

    /* background-color: blue; */
    width: 20%;
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    
    
    
}



#music_player_image {

    width: 20%;
    max-height:100% ;
    /* background-color: brown; */
    align-self: center;

}

#music_player_image img {

    width: 100%;
    max-height: 100%;
}


#music_name_box {

    width: 45%;
    /* height: 100%; */
    /* background-color: brown; */
    text-align: start;
    align-self: center;
    
    
}

#music_name_box p:hover{
    color: white;
}

#music_player_button a:hover{
    color: white;
}


#music_player_button {

    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    /* height: 100%; */
    /* background-color: brown; */
}

#music_player_button a {

    font-size: 20px;
}

/******************* PARTE CENTRALE PLAYER MUSICALE  ********************/


.music_player_big_box {

    /* background-color: blue; */
    width: 55%;
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
       
}

.music_player_button_box {

    /* background-color: aqua; */
    width: 100%;
    /* height: 100%; */
    /* border: 1px black solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;   
    
}

#big_button:hover{
    transform: scale(1.1);
}

.music_player_button_box a{

    color: white;
    font-size: 30px;
}

.music_player_line_box {

    /* background-color: aqua; */
    width: 100%;
    /* height: 100%; */
    /* border: 1px black solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    
}

.music_player_line_box a {

    color: white;
}

.music_player_line_box hr{

    width: 60%;
    border-bottom: 8px solid grey;
    border-radius: 8px;

   
}


