/* regole generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* macro blocco principale */
#spotify_box {
    display: flex;
    height: calc(100vh - 150px);
    /* DEBUG */
    background-color: rgb(99, 52, 52);
}


/*****************BLOCCO NAVIGAZIONE PRINCIPALE **********************/
#spotify_box nav {
    height: 100%;
    width: 200px;
    /* DEBUG */
    background-color: rgb(21, 0, 255);
}


/*****************BLOCCO CONTENUTO PRINCIPALE****************/
#spotify_box main {
    overflow: auto;
    height: 100%;
    width: calc(100% - 200px);
    /* DEBUG */
    background-color: rgba(20,25,34,255);
}

.upgrade_box {

    background-color: rgba(0, 3, 3, 0.743);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    
    
    
}

.upgrade_box a {

    /* background-color: brown; */
    /* width: 200px; */
    border: 1px solid white;
    padding: 8px 30px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}



/* player/controller */

#music_player {
    height: 150px;
    background-color: rgb(245, 0, 249);
}